@{
    ViewData["Title"] = "Inicio";
}

<style>
    .cs-hidden {
        overflow: hidden;
        filter: alpha(opacity=0);
    }

 
</style>


<main>
    <div class="pelicula-principal" style=" background: linear-gradient(to top,rgba(15,15,15, 1),rgba(0, 0,0, 0));">
        <video autoplay muted loop>
            <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4" /><!--http://media.w3.org/2010/05/sintel/trailer.mp4-->
        </video>

        <div class="contenedorNetflix">
            <h3 class="titulo">Bunny</h3>
            <p class="match">98% Match <span style="color:#d9d9d9">2015</span></p>
            <p class="descripcion">
                Narra las aventuras de un grupo de exploradores que hacen uso de un agujero de gusano recientemente descubierto para superar las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar.
            </p>
            <div class="btn-netflix">
                <button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
                <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
            </div>

        </div>
    </div>
</main>



<section id="main">
    <!--ShowCase-->
    <!--Heading
    <h1 class="showcase-heading">Novedades</h1>-->
    <ul id="autoWidth" class="cs-hidden">
        <li class="item-a">
            <div class="showcase-box">
                <img src="https://i.blogs.es/1bf19d/stranger-things-season-3-2019-ni/1366_2000.jpeg" alt="Alternate Text" />
            </div>
        </li>
        <li class="item-b">
            <div class="showcase-box">
                <img src="https://filasiete.com/wp-content/uploads/2020/03/loraxtrufulaperdida.jpg" alt="Alternate Text" />
            </div>
        </li>

        <li class="item-c">
            <div class="showcase-box">
                <img src="https://elrincondekuroneko.files.wordpress.com/2013/10/monsters-university-oozma-kappa.jpg" alt="Alternate Text" />
            </div>
        </li>

        <li class="item-d">
            <div class="showcase-box">
                <img src="https://arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/NIUZWRVQ6ZCIJE5XHC6RZLGERE.jpg" alt="Alternate Text" />
            </div>
        </li>

        <li class="item-e">
            <div class="showcase-box">
                <img src="https://1.bp.blogspot.com/-t3JJXPykqB8/WLvnyMpFGeI/AAAAAAAAINg/atHCVobe6ZEl7mY_C76haj6Jybti_O0tACLcB/s1600/the-100-portada.jpg" alt="Alternate Text" />
            </div>
        </li>





    </ul>
</section>


<!--Latermovies-->

<section id="latest">

    <div class="section-header">
        <h2 class="latest-heading">Acción</h2>
    </div>
       
        <!--Slide-->
        <ul id="autoWidth2" class="animated fadeIn cs-hidden">
            <li class="item-a">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://es.web.img3.acsta.net/pictures/14/10/02/11/07/341344.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Interstellar</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-b">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://cdn.entries.clios.com/styles/clio_aotw_ems_image_details_retina/s3/entry_attachments/image/51/1499/22197/64713/4Z-PNozQwL5zqJsW_dHeKK2mr9DOWDaY3-daa8zCEqI.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong> Spider-Man </strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-c">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://es.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/08/37/20508295.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Iron Man 3</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-d">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://i.pinimg.com/originals/e7/64/4d/e7644dea0a8a25d391e1caa16a580ce5.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Rapidos y Furioso 6</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-e">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://i.pinimg.com/originals/98/f2/7b/98f27b4affafccf8e3a4ce011390a8ee.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Mad Max</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-f">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/818KhZOyaTL._AC_SY679_.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Venom</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-f">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://www.lafosadelrancor.com/wp-content/uploads/2020/09/TROS-Novela-1-e1599749486215.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Star Wars</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-g">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jumanji-siguiente-nivel-dvd-blu-ray-1587994970.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Jumanji</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>

            <li class="item-h">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/7172vzOWMyL.jpg" alt="Alternate Text" />
                    </div>
                    <div class="latest-b-text">
                        <strong>Resident Evil</strong>
                        <p>Action</p>
                    </div>
                </div>
            </li>


        </ul>
</section>

<div class="section">
    <div class="hero-slide-item">
        <img src="~/img/transformer-banner.jpg" alt="">
        <div class="overlay"></div>
        <div class="hero-slide-item-content">
            <div class="item-content-wraper">
                <div class="item-content-title">
                    Transformer
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
                <div class="item-content-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                </div>
                <div class="item-action">
                    <a href="#" class="btn btn-danger">
                       
                        <span> <i class="bx bxs-right-arrow"></i> Ver Ahora</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="latest">
    <div class="section-header">
        <h2 class="latest-heading">Animado</h2>
    </div>
    <!--Slide-->
    <ul id="autoWidth3" class="animated fadeIn cs-hidden">
        <li class="item-a">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://comoacaba.com/wp-content/uploads/2019/06/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>Toy Story</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-b">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="http://pm1.narvii.com/6884/945194acbaa52be964f7ffe5efc55170c4c15f34r1-1000-1500v2_uhq.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>Shrek</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-c">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://movieposters2.com/images/1077244-b.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>Turbo</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-d">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://es.web.img3.acsta.net/medias/nmedia/18/84/34/57/19816291.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>El Gato con Botas</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-e">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51jC5bwjgoL._AC_.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>Madagascar</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-f">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://i.pinimg.com/originals/e7/cc/ac/e7ccacf71ac48d2849171cf3677c9a73.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>Rio</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-f">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://prod.cdn.bbaws.net/TDC_Blockbuster_-_Production/917/480/SL-0005_po-reg-medium_orig.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>Nut Job</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-g">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://i.pinimg.com/474x/1d/c8/09/1dc8098df672a11367e754fc01ac5f0e.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>UP</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>

        <li class="item-h">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="https://i.pinimg.com/736x/c9/d2/a0/c9d2a0f462f8cd83c3d5452efbd0557e.jpg" alt="Alternate Text" />
                </div>
                <div class="latest-b-text">
                    <strong>Increibles 2</strong>
                    <p>Animado</p>
                </div>
            </div>
        </li>


    </ul>
</section>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

