@{
    ViewData["Title"] = "Privacy";
}


<div class="container">
    <br />
    <h1>¿Qué es Netflix?</h1>

    <p>Netflix es un servicio de streaming por suscripción que les permite a sus miembros ver series y películas sin publicidades en un dispositivo con conexión a internet. También puedes descargar series y películas en un dispositivo con iOS, Android o Windows 10 y verlas sin conexión a internet. Si ya eres miembro y quieres saber más acerca de cómo usar Netflix, visita Cómo usar Netflix.</p>

    <h3 style="color:white">¡Comienza ya!</h3>
</div>

